var eventContent = function (content) {
  if (content && content.length > 250) {
    return content.slice(0, 250)
  } else {
    return content
  }
}

var eventWidth = function (eventNum) {
  if (eventNum === 1) {
    return '100%';
  } if (eventNum === 2) {
    return '30vw';
  } 
  return '31%'
}

var eventHeight = function (eventNum) {
  if (eventNum === 1) {
    return '40vw';
  } if (eventNum === 1) {
    return '30vw';
  }
  return '20vw'
}

var boxWidth = function (eventNum) {
  if (eventNum === 1) {
    return '40vw';
  }
  if (eventNum === 2) {
    return '70vw'
  }
}

var currentIndex = function (index) {
  return index + 1;
}


module.exports = {
  eventContent: eventContent,
  eventWidth: eventWidth,
  eventHeight: eventHeight,
  boxWidth: boxWidth,
  currentIndex: currentIndex,
}