var formatTime = function (target) {
  if (!target) return target // 第一次渲染wxs 可能会 undefined 数据穿入
  var regx = getRegExp("-", "g") // ios 不能识别 '-' 作为时间分割。。。 这也太奇葩啦还好能百度到
  var targetTime = getDate(target.replace(regx, '/'))
  var nowTime = getDate()

  var deltaTime = Math.floor((nowTime.getTime() - targetTime.getTime()) / 1000)

  var year = targetTime.getFullYear()
  var month = targetTime.getMonth() + 1
  var date = targetTime.getDate()
  var hours = targetTime.getHours()
  var minutes = targetTime.getMinutes()
  var seconds = targetTime.getSeconds()


  var oneYear = 31536000
  var oneMonth = 2592000
  var oneDay = 86400
  var oneHour = 3600
  var oneMinute = 60
  var oneSecond = 1


  if (deltaTime <= oneMinute) {
    return deltaTime + '秒前'
  }

  if (deltaTime <= oneHour) {
    return Math.floor(deltaTime / 60) + '分钟前'
  }

  if (deltaTime <= oneDay) {
    return Math.floor(deltaTime / 60 / 60) + '小时前'
  }

  if (deltaTime <= (oneDay * 2)) {
    return '昨天'
  }

  if (deltaTime <= oneYear) {
    return [month, date].join('-')
  }

  if (deltaTime > oneMonth) {
    return [year, month, date].join('-')
  }

  return target
}

module.exports = {
  formatTime: formatTime
}
